.forgot-password-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: #fff;
    width: 90%;
    max-width: 400px;
  }
  
  .forgot-password-content {
    text-align: center;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: #007BFF; /* Icon color */
    margin-right: 0.5rem; /* Space between icon and input */
    position: absolute;
    left: 10px;
  }
  
  input {
    padding: 10px 10px 10px 2.5rem; /* Adjust padding to make space for the icon */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  button[type="submit"],
  .close-button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
  }
  
  button[type="submit"]:hover,
  .close-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    .forgot-password-popup {
      width: 100%;
      padding: 1.5rem;
    }
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  